{
    "SERVER_NAME1": {
        "APP_NAME": "app-server",
        "DOMAIN_NAME": "app-server.test",
        "SERVER_PATH": "/var/www/source_php8.5",
        "CONTAINER_PHP_VERSION": "php8.5_container",
        "ENABLED": true
    }
}
